@model IEnumerable<EmpayeeApp.Models.Calculation>
@{
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="margin-left:15%">
        <style>
            table, th, td {
                border: 2px solid black;
                border-collapse: collapse;
                padding: 5px;
            }

            th {
                text-transform: uppercase;
                background-color: #eae8e8;
            }

            th, td {
                padding: 5px;
            }

            h2 {
                margin-left: -20%;
                text-transform: uppercase;
                text-align: center;
            }
        </style>

        <h2>PaySlip</h2>

        @foreach (var item in Model)
        {
            <table width="80%">
                <tr>
                    <td>
                        <table style="width:100%">
                            <tr>
                                <th colspan="2" style="width:50%"> Employee Details</th>
                            </tr>
                            <tr>
                                <td>Employee name</td>
                                <td>@Html.DisplayFor(model => item.Employee_Name)</td>
                            </tr>
                            <tr>
                                <td>Employeeid</td>

                                <td>@Html.DisplayFor(model => item.UserId)</td>
                            </tr>
                            <tr>
                                <td> Married</td>
                                <td>@Html.DisplayFor(model => item.Married)</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table style="width:100%">
                            <tr>
                                <th colspan="2"> Employee Work Details</th>
                            </tr>
                            <tr>
                                <td>Month</td>
                                <td>@DateTime.Now.Month</td>
                            </tr>
                            <tr>
                                <td>Days</td>
                                <td>@Html.DisplayFor(model => item.Days)</td>
                            </tr>
                            <tr>
                                <td>Leave</td>
                                <td>@Html.DisplayFor(model => item.Leave)</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table style="width:80%">
                <tr>
                    <th colspan="2"> Employee Salary Details</th>
                </tr>
                <tr>
                    <td>Monthly Salary</td>
                    <td>@Html.DisplayFor(model => item.Monthly_Salary)</td>
                </tr>

                <tr>
                    <td>CIT</td>
                    <td>@Html.DisplayFor(model => item.CIT)</td>
                </tr>
                <tr>
                    <td>PF</td>
                    <td>@Html.DisplayFor(model => item.PF)</td>
                </tr>
                <tr>
                    <td>Taxable Amount</td>
                    <td>@Html.DisplayFor(model => item.Taxable_Amount)</td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td>@Html.DisplayFor(model => item.Tax)</td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td>@Html.DisplayFor(model => item.Salary)</td>
                </tr>
                <tr>
                    <td>Allowance</td>
                    <td>@Html.DisplayFor(model => item.Allowance)</td>
                </tr>
                <tr>
                    <td>Bonus</td>
                    <td>@Html.DisplayFor(model => item.Bonus)</td>
                </tr>
            </table>
            <br /><br /><br />
        }
    </div>
</body>
</html>
