@model EmpayeeApp.Models.TaxSlab

@{
    ViewBag.Title = "EditTaxSlab";

    if (Model.Slab_Id == 1)
    { <h2>Edit Tax Slab for Unmarried Employee</h2>}
    else
    { <h2>Edit Tax Slab for Married Employee</h2>}
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Slab_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.First_Slab, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.First_Slab, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.First_Slab, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Second_Slab, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Second_Slab, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Second_Slab, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Third_Slab, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Third_Slab, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Third_Slab, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fourth_Slab, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fourth_Slab, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fourth_Slab, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Detaills", "BracketDetails", "TaxPlan")  |

    @if (Model.Slab_Id == 1)
    {
        @Html.ActionLink("Edit Married Slab", "EditTaxSlab", new { id = 2 })}
    else
    { @Html.ActionLink("Edit Unmarried Slab", "EditTaxSlab", new { id = 1 })
    }
</div>
